<html>

<head>
  <title>About</title>
  <link rel="stylesheet" href="/css/topnav.css" type="text/css" />
  <link rel="stylesheet" href="/css/about.css" type="text/css" />
  <link rel="shortcut icon" href="https://terano.dev/favicon.ico" />
</head>

<body>
  <div class="topnav" id="colorbar">
    <a class="active" href="/">Home</a>
    <a href="/login">Gallery</a>
    <a href="/upload">Upload</a>
    <a href="/about">About</a>
    <a class="right" href="/terano">Terano</a>
  </div>

  <div id="main">
    <% if(req.query.message) { %>
    <input class="green" type="text" onclick="copyLink()" value="<%=req.query.message%>" />
    <% } %>

    <div class="desc">
      <p1>terano.dev</p1><br />
      <p2>MILLION#1321's<br />Semi Public ShareX Server</p2>
      <p3><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p3>
    </div>

    <div class="info">
      <p3>This is a fun project</p3><br />
      <p3>I don't plan to make anything out of it.</p3><br />
      <p3>If someone tells me to, ill upload this code to github</p3><br />
    </div>
  </div>
</body>

<div class="footer">
  <p>
    Created By: MILLION#1321<br />
    <a href="https://discord.com/baNjgsX">Discord Server</a>
  </p>
</div>

</html>