<html>

<head>
  <title>Upload Login</title>
  <link rel="stylesheet" href="/css/login.css" type="text/css" />
  <link rel="stylesheet" href="/css/topnav.css" type="text/css" />
  <link rel="shortcut icon" href="https://terano.dev/favicon.png" />
</head>

<body>
  <div class="topnav" id="colorbar">
    <a class="active" href="/">Home</a>
    <a href="/login">Gallery</a>
    <a href="/upload">Upload</a>
    <a href="/about">About</a>
    <a class="right" href="/terano">Terano</a>
  </div>

  <div id="main">
    <form action="/gallery">
      <%if(req.query.message) {%>
      <button class="message" type="button">
        <%=req.query.message%>
      </button>
      <%}%>

        <div class="imgcontainer">
          <img src="https://cdn.discordapp.com/emojis/730628505628311552.gif" alt="Avatar" class="avatar" />
        </div>
        <div class="container">
          <input
            type="password"
            placeholder="Enter Key"
            name="key"
            required
          /><br />
          <button type="submit">Login</button><br />
          <a1
            >*Note: this site sends keys as url querys, <br />so anyone that can
            see your history can see your key lol</a1
          ><br /><br />
          <a class="signup" href="/signup">Sign Up</a>
          <a class="forgotpsw" href="/signup">Forgot Password</a>
        </div>
      </form>
    </div>
  </body>

  <div class="footer">
    <p>
      Created By: MILLION#1321<br />
      <a href="https://discord.com/baNjgsX">Discord Server</a>
    </p>
  </div>
</html>