<html>

<head>
  <title>Upload Login</title>
  <link rel="stylesheet" href="/css/signup.css" type="text/css" />
  <link rel="stylesheet" href="/css/topnav.css" type="text/css" />
  <link rel="shortcut icon" href="https://terano.dev/favicon.png" />
</head>

<body>
  <div class="topnav" id="colorbar">
    <a class="active" href="/">Home</a>
    <a href="/login">Gallery</a>
    <a href="/upload">Upload</a>
    <a href="/about">About</a>
    <a class="right" href="/terano">Terano</a>
  </div>

  <div id="main">
    <form method="GET" action="/signup">
      <input name="u" type="text" placeholder="Enter Username" required /><br />
      <input name="disc" type="text" placeholder='Enter Discord ex. "MILLION#1321"' required /><br />
      <button id="submit">Submit</button>
    </form>
  </div>
</body>

<div class="footer">
  <p>
    Created By: MILLION#1321<br />
    <a href="https://discord.com/baNjgsX">Discord Server</a>
  </p>
</div>

</html>