body {
  font-family: "Lato", sans-serif;
  background-color: rgb(59, 59, 59);
  margin: 0;
}

#main {
  width: 100%;
  text-align: center;
}

.fof h1 {
  font-size: 50px;
  color: rgb(230, 94, 94);
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
