body {
  font-family: "Lato", sans-serif;
  background-color: rgb(59, 59, 59);
  margin: 0;
}

#main {
  width: 100%;
  text-align: center;
}

img.avatar {
  width: 20%;
  border-radius: 5%;
}

.google {
    padding-top: 1.3em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.forminput {
  background-color: rgb(230, 94, 94);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  color: white;
  width: 42%;
  border-radius: 5px;
}
.forminput::placeholder {
    color: white;
}
.forminput:hover {
    cursor: auto;
}


@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
