body {
  font-family: "Lato", sans-serif;
  background-color: rgb(59, 59, 59);
  margin: 0;
}

form {
  text-align: center;
}

input[type="password"] {
  border: none;
  text-align: center;
  width: 250px;
  padding: 12px 20px;
  margin: 10px 10px;
}

button {
  background-color: rgb(230, 94, 94);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  color: white;
  width: 250px;
}

a1 {
  font-size: 20px;
  color: white;
}

button:hover {
  opacity: 0.6;
}

.imgcontainer {
  text-align: center;
  margin: 24px 12px;
}

img.avatar {
  width: 20%;
}

.signup {
  color: #f2f2f2;
  background-color: rgb(34, 34, 34);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}
.signup:hover {
  background-color: #ddd;
  color: black;
}

.forgotpsw {
  color: #f2f2f2;
  background-color: rgb(34, 34, 34);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}
.forgotpsw:hover {
  background-color: #ddd;
  color: black;
}

.message {
  width: 40%;
  color: #f2f2f2;
  background-color: rgb(230, 94, 94);
  border: none;
  border-radius: 5px;
}
