#colorbar{
  width: 100%; height: 48px;
  background-color: rgb(34, 34, 34);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  background-color: rgb(34, 34, 34);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(230, 94, 94);
  color: white;
}

.topnav a.right {
    float: right;
    background-color: rgb(230, 94, 94);
    color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: rgb(34, 34, 34);;
  color: #888;
}

a:link {
  color: #888;
}

.green {
  color: white;
  background-color: rgba(51, 167, 51, 0.5);
  padding: 10px 10px;
  width: 50%;
  border: none;
  border-radius: 10px;
}