body {
  font-family: "Lato", sans-serif;
  background-color: rgb(59, 59, 59);
  margin: 0;
}

.upload {
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  width: 300px;
  height: 20px;
  font-size: 20px;
  color: white;
  display: inline-block;
  background-color: rgb(230, 94, 94);
  padding: 7px 14px;
  border-radius: 5px;
  margin: 10px 10px;
}

label:hover {
  opacity: 80%;
  cursor: pointer;
}

.keyform {
  color: black;
  text-align: center;
  width: 320px;
  height: 33px;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: auto;
}

.keyform::placeholder {
  text-align: center;
  color: black;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(230, 94, 94);
  margin: 10px 10px;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: rgb(230, 94, 94);
  padding: 7px 14px;
  border: none;
  opacity: 80%;
}

.imgcontainer {
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 5%;
}
